@model User
<h1>Sign In</h1>
<form asp-action="Register" asp-controller="Auth" enctype="multipart/form-data">
    <input hidden asp-for="Role" value="Publisher">
    <div class="form-group">
        <label for="exampleInputEmail1" asp-for="Name">User Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="User Name" asp-for="Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" asp-for="Email">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" asp-for="Email">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" asp-for="Password">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" asp-for="Password">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" asp-for="Address">Address</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address" asp-for="Address">
        <span class="text-danger" asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" asp-for="BirthDate">Birth Date</label>
        <input type="datetime-local" class="form-control" id="exampleInputEmail1" placeholder="Birth Date" asp-for="BirthDate">
        <span class="text-danger" asp-validation-for="BirthDate"></span>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label" asp-for="ProfileImage">Upload Your Profile Image</label>
        <input class="form-control" type="file" id="formFile" name="profileImage" accept=".jpg, .jpeg, .png">
        <span class="text-danger" asp-validation-for="ProfileImage"></span>
    </div>
    <label for="formGroupExampleInput" asp-for="Gender">Gender</label>
    <select class="form-select" aria-label="Default select example" asp-for="Gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
    </select>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}